/* ======푸터탑=========== */
.footerTop {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.footerTop img {
    width: 1280px;
}

.footerinfo li a {
    color: black;
    font-weight: bold;
}

/* ====푸터 밑========== */

.footerBttom {
    padding: 30px 0;
}

.info li {
    list-style: none;
}

.footerinfo>li {
    display: inline-block;
}

.info {
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: left;
}

.sub_title {
    font-size: 20px;
    font-weight: bold;
}

.footerBottom {
    min-width: 1280px;
    display: flex;
    justify-content: center;

    background-color: silver;
    line-height: 30px
}

.footerinfo {
    word-spacing: 10px;
}

.footer_img {
    margin: 30px 0;
}

.footer_img img{
    width: 33px;
    height: 33px;
}

.footer_logo {
    width: 300px;
    height: 150px;
}

.footer_two {
    text-align: center;
    margin-left: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
}